.item-list th{
border-bottom:1px groove #808080;
}

 .item-list td,.item-list th{
border-right:1px groove #808080;
 }
  .item-list td:last-child.item-list th:last-child{
border-right:none;
 }

 .item-list tbody tr:nth-child(odd) {
    background-color:#e7e7e7;
}

.gerTable,.gerTable tr{
    margin:0px;
    padding:0px;
}

.gerTable td{
    border-right:1px solid black;
    border-bottom:1px solid black;
    margin:0px;
    padding:0px;
}
.gerTable td:last-child{
    border-right:none;
}
.gerTable tr:last-child td{
    border-bottom:0px;
}


